Node-Red-Flow
[
    {
        "id": "a50be1fb.5c75b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "69c2c85b.f47d48",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Care",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d346fcaa.6d87f",
        "type": "ui_group",
        "z": "",
        "name": "Chatboat",
        "tab": "69c2c85b.f47d48",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "a6ace9b5.11d4b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#8000ff",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#8000ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#8000ff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a64dff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#8000ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 30,
                "sy": 37,
                "gx": 0,
                "gy": 0,
                "cx": 16,
                "cy": 16,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3530ddaf.f6d482",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "6992a746.8ff768",
        "type": "watson-conversation-v1",
        "z": "a50be1fb.5c75b",
        "name": "Customer Care",
        "workspaceid": "1edd8c1f-18e1-43e8-8dc3-709bc13a8914",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0a003d44-1846-432a-ac0d-fd8d2ea76a3e",
        "timeout": "",
        "optout-learning": false,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "403d959b.941acc",
                "a36765c3.e52628"
            ]
        ]
    },
    {
        "id": "36945a85.7422f6",
        "type": "ui_text",
        "z": "a50be1fb.5c75b",
        "group": "d346fcaa.6d87f",
        "order": 3,
        "width": 15,
        "height": 8,
        "name": "",
        "label": "Bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 440,
        "wires": []
    },
    {
        "id": "727b545b.8890cc",
        "type": "ui_text",
        "z": "a50be1fb.5c75b",
        "group": "d346fcaa.6d87f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 330,
        "y": 460,
        "wires": []
    },
    {
        "id": "a3dac9fe.b52f38",
        "type": "function",
        "z": "a50be1fb.5c75b",
        "name": "",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "6992a746.8ff768",
                "727b545b.8890cc"
            ]
        ]
    },
    {
        "id": "403d959b.941acc",
        "type": "function",
        "z": "a50be1fb.5c75b",
        "name": "",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 280,
        "wires": [
            [
                "36945a85.7422f6"
            ]
        ]
    },
    {
        "id": "a36765c3.e52628",
        "type": "debug",
        "z": "a50be1fb.5c75b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "29abb804.e31a48",
        "type": "ui_form",
        "z": "a50be1fb.5c75b",
        "name": "",
        "label": "",
        "group": "d346fcaa.6d87f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter your input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "a3dac9fe.b52f38"
            ]
        ]
    }
]
